.shop{
    .slide{
        border: 0.2rem solid  map-get($color, "black");
        border-radius: 2rem;
        &:hover .image .icons{
            transform: translateY(0);
        }
        .image{
            position: relative;
            overflow: hidden;
            height: 30rem;
            width: 100%;
            border-radius: 2rem;

            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                
                
                &:hover{
                    transform: scale(1.1);
                }
            }

            .icons{
                width: 100%;
                position: absolute;
                bottom: 2rem;
                left: 0;
                text-align: center;
                z-index: 10;
                transform: translateY(7rem);
                
    
                a{
                    height: 4.5rem;
                    width: 4.5rem;
                    line-height: 4.5rem;
                    background-color: map-get($color, "black");
                    color:  map-get($color, "white");
                    font-size: 1.7rem;
                    margin:0 0.2rem;

                    &:hover{
                        background: map-get($color, "green");
                        
                    }
                    
                }
            }
        }

        
        .content{
            padding: 1rem 0;
            text-align: center;
            h3{
                font-size: 2rem;
                color: map-get($color, "black");
            }

            .price{
                padding: 1rem 0;
                padding-top: .5px;
                font-size: 2rem;
                color: map-get($color, "green");
            }
            .stars{
                i{
                    font-size: 1.7rem;
                    color: map-get($color, "black");
                }
            }
        }
    }

    .swiper-button-next::after,
    .swiper-button-prev::after{
        font-size: 3rem;
        color: map-get($color, "black" );
    }
}